<div class="viewport">

    <div class="room" style="width:{{room.width}}px; height:{{room.height}}px;
            -webkit-transform:
            translate3d(-{{room.width/2}}px, -{{room.height/2 + 6*inch}}px, {{-room.distance}}px)">

        <div class="plane" style="width:{{room.width}}px; height:{{room.depth}}px;
                -webkit-transform: translateZ({{room.depth}}px) rotateX( -90deg )">
            <div class="artHolder" dnd-target="C" dnd-source="model.artC"
                 ng-click="mc.selectArt(model.artC)"
                 ng-style="{'background-color': (mc.isArtSelected(model.artC) ? '#aaaaaa' : undefined)}"
                >
                <art
                     pi="model.artC"></art>
                <!--
                <img width="100%" height="100%"-->
                     <!--ng-src="{{getImageFor('C')}}"-->
                     <!--ng-show="getImageFor('C')"-->
                     <!--dnd-source="getCartItemAt('C')">-->
            </div>
             <img width="100%" height="100%" src="./images/shdw.png" class="fade-ceiling">
        </div>

        <div class="plane" style="top:1px; width:{{room.depth}}px; height:{{room.height-2}}px;
                -webkit-transform: translateZ({{room.depth}}px) rotateY( 90deg );">
            <div class="artHolder" dnd-target="W1" style="top: {{6*inch}}px; bottom: {{6*inch}}px;"
                 ng-click="mc.selectArt(model.artW1)"
                 ng-style="{'background-color': (mc.isArtSelected(model.artW1) ? '#aaaaaa' : undefined)}"
                >
                <art dnd-source="model.artW1"
                     pi="model.artW1"></art>
                <!--<img width="100%" height="100%"-->
                     <!--ng-src="{{mc.getImageFor('W1')}}"-->
                     <!--ng-show="mc.getImageFor('W1')"-->
                     <!--dnd-source="mc.getCartItemAt('W1')">-->
            </div>
            <div class="topTrimHolder" dnd-target="T1" style="height: {{feet}}px;">
                <div class="topTrim" dnd-source="mc.getCartItemAt('T1')" style="height: {{6*inch}}px;
                    background-image: url('{{mc.getImageFor('T1')}}')"></div>
            </div>
            <div class="bottomTrimHolder" dnd-target="B1" style="height: {{feet}}px;">
                <div class="bottomTrim" dnd-source="mc.getCartItemAt('B1')" style="height: {{6*inch}}px;
                    background-image: url('{{mc.getImageFor('B1')}}')"></div>
            </div>
             <img width="100%" height="100%" src="./images/shdw.png" class="fade-w1">
        </div>




        <div class="plane" style="left:1px; top:1px; width:{{room.width-2}}px; height:{{room.height-2}}px;">
            <div class="artHolder" dnd-target="W2"
                 ng-click="mc.selectArt(model.artW2)"
                 ng-style="{'background-color': (mc.isArtSelected(model.artW2) ? '#aaaaaa' : undefined)}"
            >
                <art dnd-source="model.artW2"
                     pi="model.artW2"></art>
<!--
                <div
                     dnd-source="getCartItemAt('W2')"
                     style="
                            width: 100%; height: 100%;
                            position: absolute;
                            background-image: url('{{getImageFor('W2')}}');
                            background-repeat: no-repeat;

                            border: 1px red solid;

                            background-origin: border-box;
                            background-clip: content-box;
                            background-size: 150%;
                            background-position: -250px -250px;

                            padding: 0px;
                            "
                 />
            </div>
-->

            <div class="topTrimHolder" dnd-target="T2" style="height: {{feet}}px;">
                <div class="topTrim" dnd-source="mc.getCartItemAt('T2')" style="height: {{6*inch}}px;
                    background-image: url('{{mc.getImageFor('T2')}}')"></div>
            </div>
            <div class="bottomTrimHolder" dnd-target="B2" style="height: {{feet}}px;">
                <div class="bottomTrim" dnd-source="mc.getCartItemAt('B2')" style="height: {{6*inch}}px;
                    background-image: url('{{mc.getImageFor('B2')}}')"></div>
            </div>
            <img width="100%" height="100%" src="./images/shdw.png" class="fade-w2">
        </div>

        <div class="plane" style="top:1px; width:{{room.depth}}px; height:{{room.height-2}}px;
                -webkit-transform: translateX({{room.width}}px) rotateY( -90deg );">
            <div class="artHolder" dnd-target="W3" style="top: {{6*inch}}px; bottom: {{6*inch}}px;"
                 ng-click="mc.selectArt(model.artW3)"
                 ng-style="{'background-color': (mc.isArtSelected(model.artW3) ? '#aaaaaa' : undefined)}"
                >
                <art dnd-source="model.artW3"
                     pi="model.artW3"></art>
                <!--<img width="100%" height="100%"-->
                     <!--ng-src="{{mc.getImageFor('W3')}}"-->
                     <!--ng-show="mc.getImageFor('W3')"-->
                     <!--dnd-source="mc.getCartItemAt('W3')">-->
            </div>
            <div class="topTrimHolder" dnd-target="T3" style="height: {{feet}}px;">
                <div class="topTrim" dnd-source="mc.getCartItemAt('T3')" style="height: {{6*inch}}px;
                    background-image: url('{{mc.getImageFor('T3')}}')"></div>
            </div>
            <div class="bottomTrimHolder" dnd-target="B3" style="height: {{feet}}px;">
                <div class="bottomTrim" dnd-source="mc.getCartItemAt('B3')" style="height: {{6*inch}}px;
                    background-image: url('{{mc.getImageFor('B3')}}')"></div>
            </div>
             <img width="100%" height="100%" src="./images/shdw.png" class="fade-w3">
        </div>

        <div class="plane" dnd-target="" style="width:{{room.width}}px; height:{{room.depth}}px;
                -webkit-transform: translateY({{room.height}}px) rotateX( 90deg );
                 background-image: url('./images/wood.jpg');
                 background-repeat: repeat;
                 background-size: 71%">
        </div>

    </div>


</div>
