<div ng-cloak
    ds-base-url="andrea/ceiling"
    ds-require="./ceilingController
    ../directive/artBackgroundDirective
    ../directive/artBorderDirective
    ../directive/artBorderCornerDirective
    ../directive/artBorderCenterDirective
    ../directive/artBorderMiddleDirective
    ../directive/artMedallionDirective"

    ng-controller="ceilingController"
>

    {{root.scale}}
    <br/>
    <input type="range" ng-model="root.scale" min="15" max="100"/>
    <br/>

    <div>
        Ceiling - Width: {{format.size(mm(plane.widthPx))}} Height: {{format.size(mm(plane.heightPx))}}
        <span class="pull-right">
            <input type="checkbox" ng-model="format.useMetric"/>
        </span>
    </div>

    <div class="origin0"
         ng-style="{
            transform: 'scale3d(' + root.scale/100 + ',' + root.scale/100 + ',' + root.scale/100 + ')'
         }"
    >

        <div class="plane"
             ng-style="{
                width: plane.widthPx + 'px',
                height: plane.heightPx + 'px',
             }"
        >

            <art-background plane="plane" item="plane.background"
                 popup-menu="artMenu"
            ></art-background>

            <art-border plane="plane" item="plane.border"
                popup-menu="artMenu"
            ></art-border>

            <art-border-corner plane="plane" item="plane.borderCorner"
                popup-menu="artMenu"
            ></art-border-corner>

            <art-border-center plane="plane" item="plane.borderCenter"
                popup-menu="artMenu"
            ></art-border-center>

            <art-border-middle plane="plane" item="plane.borderMiddle"
                popup-menu="artMenu"
            ></art-border-middle>

            <art-medallion plane="plane" item="plane.medallion"
                popup-menu="artMenu"
            ></art-medallion>

<!--

            <art art="ctrl.mainArt"
                width="ctrl.width" height="ctrl.height"
            ></art>

            <art art="art" ng-repeat="art in ctrl.floatingArts"
                width="ctrl.width" height="ctrl.height"
            ></art>
-->

        </div>

    </div>
</div>