<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">&times;</button>
    <h4 class="modal-title">Room Size</h4>
</div>

<div class="modal-body">
    <label>Width (long wall's length):</label>
    <div>
        <input-size ng-model="roomSize.width"/>
    </div>

    <br/>
    <label>Height:</label>
    <div>
        <input-size ng-model="roomSize.height"/>
    </div>

    <br/>
    <label>Depth (short wall's length):</label>
    <div>
        <input-size ng-model="roomSize.depth"/>
    </div>
</div>

<div class="modal-footer">
    <button type="button"
            class="btn btn-default"
            ng-click="$close(roomSize)">Close</button>
</div>
