<div class="panel-group">
    <div>
        <form>
            Position
            <div class="form-group">
                <label>Left:
                    <input type="text" style="width: 40px"
                           ng-model="model.artSelected.art.position.left"
                           />
                </label>
            </div>
            <div class="form-group">
                <label>Top:
                    <input type="text" style="width: 40px"
                           ng-model="model.artSelected.art.position.top"
                           />
                </label>
            </div>
            Size
            <div class="form-group">
                <label>Width:
                    <input type="text" style="width: 40px"
                           ng-model="model.artSelected.art.size.width"
                           />
                </label>
            </div>
            <div class="form-group">
                <label>Height:
                    <input type="text" style="width: 40px"
                           ng-model="model.artSelected.art.size.height"
                           />
                </label>
            </div>
            Clip
            <div class="form-group">
                <label>Left:
                    <input type="text" style="width: 40px"
                           ng-model="model.artSelected.art.clip.left"
                           />
                </label>
            </div>
            <div class="form-group">
                <label>Top:
                    <input type="text" style="width: 40px"
                           ng-model="model.artSelected.art.clip.top"
                           />
                </label>
            </div>
            <div class="form-group">
                <label>Zoom:
                    <input type="text" style="width: 40px"
                           ng-model="model.artSelected.art.zoom"
                           />
                </label>
            </div>
        </form>
    </div>


</div>


