<div
    ds-base-url="andrea/editor"
    ds-require="./editorController
    ./cropperDirective
    ../../core/service/debounceService"
    ng-controller="editorController as ctrl"
>
    <div>
        <br/>
        Cropped - Width: {{format.size(ctrl.item.width)}} Height: {{format.size(ctrl.item.height)}}

        <span class="pull-right">
            <input type="checkbox" ng-model="format.useMetric"/>
        </span>
    </div>

    <cropper style="display: block; position: relative;
        width: 100%; height: 100%"
        item="ctrl.item"
    ></cropper>

    Zoom
    <input type="range" ng-model="ctrl.item.art.zoom" min="100" max="200"/>
    <br/>

</div>