<div
    ds-base-url="andrea/editor"
    ds-require="./editorController
    ./cropperDirective
    ../../core/service/debounceService"
    ng-controller="editorController as ctrl"
>
    <div>
        Dimentions: {{format.size(ctrl.frame.width)}} x {{format.size(ctrl.frame.height)}}
        <span class="pull-right">
            <input type="checkbox" ng-model="format.useMetric"/>
        </span>
    </div>

    <cropper style="display: block; position: relative;
        width: 100%; height: 100%"
        frame="ctrl.frame"
        art="ctrl.art"
    ></cropper>

    <br/>
    <input type="range" ng-model="ctrl.art.zoom" min="100" max="200"/>
    <br/>

</div>