<div class="origin0"
     ng-style="{
        width: art.width + 'px',
        height: art.height + 'px',
        'background-image': 'url(\'' + art.url + '\')'
     }"
     ng-click="click()"></div>

<div class="origin0"
     ng-style="{
        width: art.width + 'px',
        height: art.height + 'px',
        transform: 'translateX(' + width + 'px) rotateY(180deg)',
        'background-image': 'url(\'' + art.url + '\')'
     }"
     ng-click="click()"></div>

<div class="origin0"
     ng-style="{
        width: art.width + 'px',
        height: art.height + 'px',
        transform: 'translateX(' + width+ 'px) translateY(' + height + 'px) rotateX(180deg) rotateY(180deg)',
        'background-image': 'url(\'' + art.url + '\')'
     }"
     ng-click="click()"></div>

<div class="origin0"
     ng-style="{
        width: art.width + 'px',
        height: art.height + 'px',
        transform: 'translateY(' + height + 'px) rotateX(-180deg)',
        'background-image': 'url(\'' + art.url + '\')'
     }"
     ng-click="click()"></div>
