<div ng-cloak
     ds-base-url="andrea"
     ds-require="./andreaApp
     ./service/wallModel
     ./service/ceilingModel
     ./service/selectService
     ../core/modal/modalDirective
     ./andreaMainController"
     ng-controller="andreaMainController as mainCtrl"
     class="container selection-none"
     >

    <a ng-href="#/ceiling" class="btn btn-default">Ceiling</a>
    <a ng-href="#/wall" class="btn btn-default">Wall</a>
    <a ng-href="#/editor" class="btn btn-default">Editor</a>
    <a ng-href="#/test" class="btn btn-default">Test</a>

    <ng-view></ng-view>

    <div id="artMenu" class="dropdown position-fixed" >
        <ul class="dropdown-menu" role="menu">
            <li>
                <a class="pointer" role="menuitem" tabindex="1"
                   ng-click="mainCtrl.showSpec()">
                    Specifications
                </a>
            </li>
            <li>
                <a class="pointer" role="menuitem" tabindex="1"
                   ng-click="mainCtrl.edit()">
                    Edit
                </a>
            </li>
            <li>
                <a class="pointer" role="menuitem" tabindex="2"
                   ng-click="mainCtrl.remove()">
                    Remove
                </a>
            </li>
        </ul>
    </div>


    <ds:modal name="specModal" escape size="md"
              title="Specifications"
            >
        <div>
            <span>{{mainCtrl.formatType(mainCtrl.item)}}</span>
        </div>
        <div>
            <span>width:</span>
            <span>{{format.size(mm(mainCtrl.item.width))}}</span>
        </div>
        <div>
            <span>height:</span>
            <span>{{format.size(mm(mainCtrl.item.height))}}</span>
        </div>
    </ds:modal>


</div>
