<div ng-cloak
     ds-base-url="andrea"
     ds-require="./andreaApp
     ./service/wallModel
     ./service/ceilingModel
     ./service/selectService
     ./service/mouseService
     ../core/modal/modalDirective
     ../core/input/typeIntDirective
     ./andreaMainController"
     ng-controller="andreaMainController as mainCtrl"
     class="container selection-none"
     >

    <a ng-href="#/ceiling" class="btn btn-default">Ceiling</a>
    <a ng-href="#/wall" class="btn btn-default">Wall</a>
    <a ng-href="#/editor" class="btn btn-default">Editor</a>
    <!--<a ng-href="#/test" class="btn btn-default">Test</a>-->

    <ng-view></ng-view>


    <div class="position-fixed"
            style="
            background-color: #CCCCCC;
            opacity: .8;
            padding: 10px;
            bottom: 0px;
            left: 0px;
            right: 0px"
        ng-show="mainCtrl.isItemResizable(selectedItem)"
    >
        <div style="text-align: center">
            {{mainCtrl.formatType()}}: {{format.size(mm(selectedItem.width))}} x {{format.size(mm(selectedItem.height))}}
            <span class="pull-right">
                <button ng-click="mainCtrl.closeSizePanel()"
                        >X</button>
            </span>
        </div>
        <div>
            <input
                type="range"
                ng-model="selectedItem.width" type-int
                min="100" max="{{mainCtrl.getSelectedItemMaxWidthPx()}}"/>
            <div>
                Width
                <span class="pull-right">
                    {{format.size(mm(mainCtrl.getSelectedItemMaxWidthPx()))}}
                </span>
            </div>
        </div>
        <br/>
        <div>
            <input
                type="range"
                ng-model="selectedItem.height" type-int
                min="100" max="{{mainCtrl.getSelectedItemMaxHeightPx()}}"/>
            <div>
                Height
                <span class="pull-right">
                    {{format.size(mm(mainCtrl.getSelectedItemMaxHeightPx()))}}
                </span>
            </div>
        </div>
    </div>

    <div class="position-fixed"
            style="
            background-color: #CCCCCC;
            opacity: .8;
            padding: 10px;
            bottom: 0px;
            left: 0px;
            right: 0px"
        ng-show="mainCtrl.isHeightAdjustable(selectedItem)"
    >
        <div style="text-align: center">
            {{mainCtrl.formatType()}}: {{format.size(mm(selectedItem.width))}} x {{format.size(mm(selectedItem.height))}}
            <span class="pull-right">
                <button ng-click="mainCtrl.closeSizePanel()"
                        >X</button>
            </span>
        </div>
        <div>
            <input
                    type="range"
                    ng-model="selectedItem.height" type-int
                    min="100" max="{{mainCtrl.getSelectedItemMaxHeightPx()}}"/>
            <div>
                Height
                <span class="pull-right">
                    {{format.size(mm(mainCtrl.getSelectedItemMaxHeightPx()))}}
                </span>
            </div>
        </div>
    </div>

    <div id="artMenu" class="dropdown position-fixed" >
        <ul class="dropdown-menu" role="menu">
            <li>
                <a class="pointer" role="menuitem" tabindex="1"
                   ng-click="mainCtrl.showSpec()">
                    Specifications
                </a>
            </li>
            <li ng-show="selectedItem.type=='a'">
                <a class="pointer" role="menuitem" tabindex="1"
                   ng-click="mainCtrl.resizeArt()">
                    Resize
                </a>
            </li>
            <li ng-show="selectedItem.type=='a'">
                <a class="pointer" role="menuitem" tabindex="1"
                   ng-click="mainCtrl.cropAndZoom()">
                    Crop &amp; Zoom
                </a>
            </li>
            <li ng-show="selectedItem.type=='f'">
                <a class="pointer" role="menuitem" tabindex="1"
                   ng-click="mainCtrl.duplicate()">
                    Duplicate
                </a>
            </li>
            <li>
                <a class="pointer" role="menuitem" tabindex="2"
                   ng-click="mainCtrl.remove()">
                    Remove
                </a>
            </li>
        </ul>
    </div>


    <ds:modal name="specModal" escape size="md"
              title="Specifications"
            >
        <div>
            <span>{{mainCtrl.formatType(mainCtrl.item)}}</span>
        </div>
        <div>
            <span>width:</span>
            <span>{{format.size(mm(mainCtrl.item.width))}}</span>
        </div>
        <div>
            <span>height:</span>
            <span>{{format.size(mm(mainCtrl.item.height))}}</span>
        </div>
    </ds:modal>


</div>
