body
{
    padding-top: 70px;
}

.over
{
    border: 2px solid #0f0;
}

.navbar .divider-vertical
{
    margin: 0 9px;
    padding: 0 9px;

    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}

div.bottomTrim:hover
{
    content: 'Drag an image here!';

    color: #000;
    background-color: rgba(0, 255, 0, .3);
}

div.topTrim:hover
{
    content: 'Drag an image here!';

    color: #000;
    background-color: rgba(0, 255, 0, .3);
}

.tool-settings-header
{
    margin: 0 0 16px 0;
    padding: 1px 15px;

    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    background: rgba(0, 0, 0, .05);
}

.panel-card {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.panel-group .panel-card + .panel-card {
    margin-top: 10px;
}

.panel-group .panel-card {
    margin-bottom: 0;
    border-radius: 0;
}

.panel-group .panel-card .panel-body 
{
    padding: 0 15px 15px;
}

.tool-settings-header h6 
{
    margin: 2px 0;
}

.tool-settings-input
{
    width: 100%;
}

.stepper-group 
{
    margin-bottom: 0;
}

.wall-isSelected
{
    background-color: rgba(0, 0, 0, 0.55);
}

div[numeric-stepper].ng-invalid-out-of-bounds input.form-control
{
    color: red !important;
}

.header-input
{
    width: 50px;
}
.prod
{
    width: 66px;
    height: auto;
    margin-top: 5px;
    margin-left: 5px;
}

.viewport
{
    position: absolute;

    float: left;
    overflow: hidden;

    width: 100%;
    height: 600px;

    background: #444;

    -webkit-perspective: 1000;
       -moz-perspective: 1000;
        -ms-perspective: 1000;
            perspective: 1000;
    -webkit-perspective-origin: 49% 65%;
       -moz-perspective-origin: 49% 65%;
        -ms-perspective-origin: 49% 65%;
            perspective-origin: 49% 65%;
}

.room
{
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
    /*-webkit-transform-origin: 0 0 500;*/
    /*-moz-transform-origin: 0 0 0;*/
    /*-ms-transform-origin: 0 0 0;*/
    /*-webkit-transform: translate3d(-100px, -0px, 100px)*/
    /*rotateX(0deg)*/
    /*rotateX(-2deg) rotateY(2deg);*/
}

.plane
{
    position: absolute;

    -webkit-transform-origin: 0 0 0;
       -moz-transform-origin: 0 0 0;
        -ms-transform-origin: 0 0 0;
            transform-origin: 0 0 0;

    background-color: #746F48;

    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
}

img.fade-ceiling, img.fade-w1, img.fade-w2, img.fade-w3
{
    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;

    opacity: .5;
}

img.fade-w1, img.fade-w2, img.fade-w3
{
    position: absolute;
    top: 0;
    left: 0;

    pointer-events: none;

    opacity: .3;
}

.artHolder
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.topTrimHolder
{
    position: absolute;
    top: 0;

    width: 100%;
}

.topTrim
{
    position: absolute;
    top: 0;

    width: 100%;

    background-repeat: repeat-x;
}

.bottomTrimHolder
{
    position: absolute;
    bottom: 0;

    width: 100%;
}

.bottomTrim
{
    position: absolute;
    bottom: 0;

    width: 100%;

    background-repeat: repeat-x;
}
