<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
         <form class="navbar-form navbar-left">
         <div class="form-group">
           <label>Project:
                <input type="text" ng-model="model.projectName"/>
            </label>
            <span ng-show="model.projectItems.length">
                (
                <span ng-bind="model.projectItems.length"></span>
                )
            </span>
          </div>
          <div class="form-group divider-vertical">
            <label>Room W:
                <input type="text" ng-model="room.widthFt"
                       ng-blur="mc.setWidth(room.widthFt)"
                        style="width: 30px"/>
            </label>
          </div>
          <div class="form-group">
            <label>H:
                <input type="text" ng-model="room.heightFt"
                       ng-blur="mc.setHeight(room.heightFt)"
                        style="width: 30px"/>
            </label>
          </div>
          <div class="form-group divider-vertical">
            <label>D:
                <input type="text" ng-model="room.depthFt"
                       ng-blur="mc.setDepth(room.depthFt)"
                        style="width: 30px"/>
            </label>
          </div>
          <div class="form-group">
            <label> Distance:
                <input type="text" ng-model="room.distanceFt"
                       ng-blur="mc.setDistance(room.distanceFt)"
                        style="width: 30px"/>
            </label>
          </div>
        </form>
    </div>
 </nav>