<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <form class="navbar-form navbar-left">
            <div class="form-group">
                <label>Project:
                    <input type="text" ng-model="model.projectName" />
                </label>
                <span ng-show="model.projectItems.length">
                    (
                    <span ng-bind="model.projectItems.length"></span>
                    )
                </span>
            </div>
            <div class="form-group divider-vertical">
                <label>Room Width:
                    <input-size ng-model="room.width"/>
                </label>
            </div>
            <div class="form-group">
                <label>Height:
                    <input-size ng-model="room.height"/>
                </label>
            </div>
            <div class="form-group divider-vertical">
                <label>Depth:
                    <input-size ng-model="room.depth"/>
                </label>
            </div>
            <div class="form-group">
                <label>Distance:
                    <input-size ng-model="room.distance" no-inch="true"/>
                </label>
            </div>
        </form>
    </div>
</nav>
