<div class="panel-group" id="accordion" ng-controller="ToolboxCtrl">
    <select class="selectpicker" ng-model="collSelected"
            ng-options="coll.name for coll in myColls">
    </select>
    
    <div class="panel panel-default" dnd-target="">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" ng-click="selectType('C')" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Ceilings ({{collSelected.ceelings.length}})
        </a><i class="indicator glyphicon glyphicon-chevron-up  pull-right"></i>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
                <span ng-repeat="product in collSelected.ceelings">
                    <img class="prod" dnd-source="product"
                         ng-src="{{getImageUrl(product.productImage)}}">
                </span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" ng-click="selectType('T')" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
           Top Trims ({{collSelected.topTrims.length}}) 
        </a><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <span ng-repeat="product in collSelected.topTrims">
                    <img class="prod" dnd-source="product"
                         ng-src="{{getImageUrl(product.productImage)}}">
                </span>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" ng-click="selectType('W')" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Walls ({{collSelected.walls.length}})
        </a><i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                 <span ng-repeat="product in collSelected.walls">
                    <img class="prod" dnd-source="product"
                         ng-src="{{getImageUrl(product.productImage)}}">
                </span>
            </div>
        </div>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" ng-click="selectType('B')" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Bottom Trims ({{collSelected.bottomTrims.length}})
        </a><i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
                <span ng-repeat="product in collSelected.bottomTrims">
                    <img class="prod" dnd-source="product"
                         ng-src="{{getImageUrl(product.productImage)}}">
                </span>
            </div>
        </div>
    </div>
    <!-- <div dnd-target="">

        <div ng-click="selectType('C')">Ceelings ({{collSelected.ceelings.length}})</div>
        <div ng-show="typeSelected == 'C'"
             style="border: 1px solid #aaaaaa;">
            <span ng-repeat="product in collSelected.ceelings">
                <img class="prod" dnd-source="product"
                     ng-src="{{getImageUrl(product.productImage)}}">
            </span>
        </div>

        <div ng-click="selectType('T')">Top Trims ({{collSelected.topTrims.length}})</div>
        <div ng-show="typeSelected == 'T'"
            style="border: 1px solid #aaaaaa;">
            <span ng-repeat="product in collSelected.topTrims">
                <img class="prod" dnd-source="product"
                     ng-src="{{getImageUrl(product.productImage)}}">
            </span>
        </div>

        <div ng-click="selectType('W')">Walls ({{collSelected.walls.length}})</div>
        <div ng-show="typeSelected == 'W'"
             style="border: 1px solid #aaaaaa;">
            <span ng-repeat="product in collSelected.walls">
                <img class="prod" dnd-source="product"
                     ng-src="{{getImageUrl(product.productImage)}}">
            </span>
        </div>

        <div ng-click="selectType('B')">Bottom Trims ({{collSelected.bottomTrims.length}})</div>
        <div ng-show="typeSelected == 'B'"
             style="border: 1px solid #aaaaaa;">
            <span ng-repeat="product in collSelected.bottomTrims">
                <img class="prod" dnd-source="product"
                     ng-src="{{getImageUrl(product.productImage)}}">
            </span>
        </div>

    </div> -->
</div>
