<div
    ds-base-url="andrea/wall"
    ds-require="./wallController
    ../directive/artDirective
    ../directive/artTrimDirective
    ../directive/artTrimCornerDirective
    ../directive/artFrameDirective"
    ng-controller="wallController as ctrl"
>
    <button ng-click="ctrl.test()">Wall</button>

    <div class="plane"
         ng-style="{
            width: ctrl.width + 'px',
            height: ctrl.height + 'px'
         }"
    >
        <art art="ctrl.backgroundArt"
             width="ctrl.width" height="ctrl.height"
             ng-click="mainCtrl.selectArt(ctrl.backgroundArt)"
             context-menu data-target="artMenu"
        ></art>

        <art-frame frame="ctrl.mainArtFrame" art="ctrl.mainArt"
             left="0" right="0"
             top="ctrl.topTrimArt.height"
             bottom="ctrl.bottomTrimArt.height"
             width="ctrl.width" height="ctrl.height"
             ng-click="mainCtrl.selectArt(ctrl.mainArt)"
        ></art-frame>


        <art-trim art="ctrl.topTrimArt"
             width="ctrl.width" height="ctrl.height"
             ng-click="mainCtrl.selectArt(ctrl.topTrimArt)"
        ></art-trim>

        <art-trim-corner art="ctrl.topTrimCornerArt"
             width="ctrl.width" height="ctrl.height"
             ng-click="mainCtrl.selectArt(ctrl.topTrimCornerArt)"
        ></art-trim-corner>

        <art-trim art="ctrl.bottomTrimArt" is-bottom="true"
             width="ctrl.width" height="ctrl.height"
             ng-click="mainCtrl.selectArt(ctrl.bottomTrimArt)"
        ></art-trim>

    </div>


    <div id="artMenu" class="dropdown position-fixed" >
        <ul class="dropdown-menu" role="menu">
            <li>
                <a class="pointer" role="menuitem" tabindex="1"
                   ng-click="">
                    Edit
                </a>
            </li>
            <li>
                <a class="pointer" role="menuitem" tabindex="2"
                   ng-click="">
                    Remove
                </a>
            </li>
        </ul>
    </div>


</div>