<div
    ds-base-url="andrea/wall"
    ds-require="./wallController
    ../directive/popupMenu
    ../directive/artDirective
    ../directive/art2Directive
    ../directive/artTrimDirective
    ../directive/artTrimTopCornerDirective
    ../directive/artFrameDirective"
    ng-controller="wallController"
>
    <!--<button ng-click="ctrl.test()">Wall</button>-->

    {{root.scale}}
    <br/>
    <input type="range" ng-model="root.scale" min="15" max="100"/>
    <br/>

    <div>
        Dimentions: {{format.size(wall.width)}} x {{format.size(wall.height)}}
        <span class="pull-right">
            <input type="checkbox" ng-model="format.useMetric"/>
        </span>
    </div>

    <div class="origin0"
         ng-style="{
            transform: 'scale3d(' + root.scale/100 + ',' + root.scale/100 + ',' + root.scale/100 + ')'
         }"
    >
        <div class="plane"
             ng-style="{
                width: px(wall.width) + 'px',
                height: px(wall.height) + 'px',
             }"
        >
            <art art="wall.backgroundArt"
                 width="px(wall.width)" height="px(wall.height)"
                 popup-menu="artMenu"
            ></art>


            <art2 wall="wall" item="wall.mainItem"
                 popup-menu="artMenu"
            ></art2>


            <art-trim wall="wall" trim="wall.trimTop"
                 popup-menu="artMenu"
            ></art-trim>

            <art-trim-top-corner wall="wall" trim="wall.trimTopCorner"
                 popup-menu="artMenu"
            ></art-trim-top-corner>

            <art-trim wall="wall" trim="wall.trimBottom" is-bottom="true"
                 popup-menu="artMenu"
            ></art-trim>
        </div>
    </div>

            <!--<art-frame frame="wall.mainArtFrame" art="wall.mainArt"-->
                 <!--left="0" right="0"-->
                 <!--top="300"-->
                 <!--bottom="300"-->
                 <!--width="px(wall.width)" height="px(wall.height)"-->
                 <!--popup-menu="artMenu"-->
            <!--</art-frame>-->

             <!--top="wall.topTrimArt.height"-->
             <!--bottom="wall.bottomTrimArt.height"-->


    <div id="artMenu" class="dropdown position-fixed" >
        <ul class="dropdown-menu" role="menu">
            <li>
                <a class="pointer" role="menuitem" tabindex="1"
                   ng-click="ctrl.edit()">
                    Edit
                </a>
            </li>
            <li>
                <a class="pointer" role="menuitem" tabindex="2"
                   ng-click="ctrl.remove()">
                    Remove
                </a>
            </li>
        </ul>
    </div>

</div>